.section {
    display: flex;
    flex-direction: column;
    width: 600px;
    text-align: left;
}

.status_wrapper {
    display: flex;
    flex-direction: row;
    gap: 56px;
}

.status {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.status_numbers {
    max-height: 300px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 7px;
    margin-top: 24px;
}

.total {
    margin-top: 60px;
}