.header {
    background-color: #1C1C21;
}

.nav {
    display: flex;
    flex-direction: row;
    padding-top: 16px;
    padding-bottom: 16px;
    width: 1300px;
    margin: auto;
}

.nav_group {
    display: flex;
    flex-direction: row;
    flex: 1 0 20%;
    gap: 10px;
    width: auto;
}

.link {
    color: #8585AD;
}

.link_active {
    color: #F2F2F3;
}

.link_wrapper {
    display: flex;
    gap: 8;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20px;
    margin-right: 20px;
}

.link_wrapper>svg {
    margin-right: 9px;
}

.links {
    composes: nav_group;
    justify-content: start;
}

.logo {
    composes: nav_group;
    justify-content: space-around;
    align-items: center;
}

.profile {
    composes: nav_group;
    justify-content: end;
}